@media (max-width: 1199px) {
  .header__bottom {
    display: none;
  }

  .phone-block__link {
    font-size: 18px;
    line-height: 22px;
  }

  .header__top .logo {
    margin-left: 20px;
  }

  .header-top__info {
    gap: 25px;
    font-size: 14px;
    line-height: 18px;

    li {
      gap: 7px;
    }
  }

  .header-top__txt {
    font-size: 14px;
    line-height: 18px;
  }

  .social .icon-custom {
    width: 35px;
    height: 35px;
  }

  .footer__right {
    width: calc(70% + 20px);
  }

  .footer-menu {
    flex-wrap: wrap;

    .footer-menu__col {
      width: 100%;
    }
  }

  .footer-menu__col:nth-child(2) .footer-menu__sub {
    flex-direction: row;

    li {
      width: 50%;
    }
  }

  .footer-menu {
    .footer-menu__col {
      & + .footer-menu__col {
        margin-top: 30px;
      }
    }
  }

  .footer-menu__sub {
    gap: 15px 0;
  }

  .footer__left {
    width: 235px;
  }

  .slider-objects,
  .slider-service {
    padding: 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .service-section {
    padding: 30px 0;
  }

  .slider-service .swiper-wrapper {
    padding-bottom: 40px;
  }

  .caption--h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .objects-section .tabs-body {
    padding: 20px 0px;
  }

  .objects-section .tabs {
    margin-top: 20px;
  }

  .squeeze__content {
    width: 100%;
    max-width: 530px;
    font-size: 16px;
    line-height: 24px;
  }

  .squeeze .picture {
    transform: translate(-98%, -100px);
    width: 660px;
    height: 510px;
  }

  .squeeze-section {
    padding: 50px 0;
  }

  .squeeze .input-list {
    margin-top: 15px;
  }

  .objects-section {
    padding: 30px 0;
  }

  .squeeze-section {
    padding: 30px 0;
  }

  .squeeze {
    padding-right: 20px;

    &--left {
      .picture {
        width: 490px;
        height: 600px;
        top: -46px;
        transform: initial;
      }
    }
  }

  .about-section {
    padding: 30px 0;
  }

  .documents-section {
    padding: 30px 0;
  }

  .documents-section {
    padding: 30px 0;
  }

  .scheme-section {
    padding: 30px 0;
  }

  .reviews-section {
    padding: 30px 0;
  }

  .partners-section {
    padding: 30px 0;
  }

  .about-block__left {
    max-width: 100%;
  }

  .about-block__left .advantages {
    max-width: 70%;
  }

  .about-block__right {
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
  }

  .scheme-list {
    gap: 25px 55px;
    grid-template-columns: 35% 28% 26%;
  }

  .scheme-item::before {
    width: 90px;
    height: 110px;
    background-size: contain;
  }

  .our-advantages__item {
    font-size: 14px;
    line-height: 18px;
    height: 200px;
    gap: 15px;
    padding: 0 10px;

    .picture {
      width: 50px;
    }
  }

  .our-advantages__num {
    width: 47px;
    height: 48px;
  }

  .scheme-list {
    margin-top: 30px;
  }

  .our-advantages__list {
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
  }

  .slider-partners {
    margin-top: 30px;
  }

  .review-block {
    padding: 25px;
  }

  .reviews-block__content {
    width: 100%;
    padding-right: 15px;
  }

  .reviews-other__txt {
    max-width: 240px;
  }

  .reviews-other {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 30px;
  }

  .reviews-other .picture {
    width: 100px;
  }

  .reviews-other__num {
    font-size: 40px;
    line-height: 40px;
  }

  .article-list {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
  }

  .article-section {
    padding: 30px 0;
  }

  .contacts__map {
    height: 360px;
    width: calc(100% - 478px);
  }

  .contacts {
    padding: 30px 0;
  }

  .about-page .about-section {
    padding: 30px 0;
  }

  .team-section {
    padding: 30px 0;
  }

  .slider-team {
    margin-top: 30px;
  }

  .team-block__media .picture {
    height: 380px;
  }

  .requisites-section {
    padding: 30px 0;
  }

  .requisites-content {
    margin-top: 30px;
  }

  .requisites-content {
    gap: 15px;
  }

  .requisites-content__right,
  .requisites-content__left {
    padding: 30px;
  }

  .service-list {
  }

  .text-simple {
    padding: 30px 0;
    font-size: 14px;
    line-height: 20px;
  }

  .back-section__content {
    padding: 20px;
    font-size: 14px;
    line-height: 16px;
  }

  .back-section__content .title {
    font-size: 30px;
    line-height: 35px;
  }

  .list-block {
    margin-top: 20px;
    line-height: 20px;
    gap: 10px;
  }

  .list-item__head {
    font-size: 16px;
    line-height: 24px;
  }

  .list-item__body {
    padding: 15px;
  }

  .list-section {
    padding: 30px 0;
  }

  .table-section__body {
    margin-top: 30px;
  }

  .table-section {
    padding: 30px 0;
  }

  .faq-section {
    padding: 30px 0;
  }

  .faq-item {
    padding: 20px;
  }

  .result-work {
    padding: 30px 0;
  }

  .slider-images {
    margin-top: 10px;
  }

  .docs-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .object-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .images-section {
    padding: 30px 0;
  }

  .slider-images-full .swiper-pagination {
    margin-top: 30px;
  }

  .article-page {
    .about-block__left {
      max-width: 450px;
    }

    .about-block__right {
      width: calc(100% - 500px);
    }
  }

  .error-text {
    font-size: 40px;
    line-height: 50px;
  }

  .error-block {
    font-size: 18px;
    line-height: 20px;

    .picture {
      width: 350px;
      margin: 0 auto;
    }
  }
}
